.logo{

height: 50px;
width: 50px;
float: left;
display :inline;

}

.cart{

    height: 50px;
    width: 50px;
    float: right;
    display :inline;
    padding: 0;
    margin: 0px;

    
    }

.nav{

    background-color: red;
    height: 80px;
    
}

.link{

    text-decoration: none;
    color: black;

}

ul li{
display: inline;
padding: 10px;

}

